.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    gap: 8px;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    margin-left: 16p;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}

.tw-followCard-button:hover {
    background-color: gray;
}

.tw-followCard-button.is-following:hover {
    background-color: red;
}

